/Code Practice/Code/HibernatePractice/nbproject/private/
/Code Practice/Code/Test/nbproject/private/
/Code Practice/Code/WebApplication1/nbproject/private/
/Code Practice/Code/HibernateHelloWorld/nbproject/private/
/Code Practice/Code/HibernateHelloWorld/build/
/Code Practice/Code/WebApplication1/build/
/Code Practice/Code/WebApplication2/nbproject/private/
/Code Practice/Code/HibernateTest/nbproject/private/
/Code Practice/Code/HibernateTest/build/
/Code Practice/Code/PUBGHibernate/nbproject/private/
/Code Practice/Code/PUBGHibernate/build/
/Code Practice/Code/PUBGHibernate/dist/
/Code Practice/Code/HibernatePUBG/nbproject/private/